<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Header</title>
    <link rel="Stylesheet" href="templates/header.css">
</head>
<body>
        <header>
        <div class="container">
            <div class="header-content">
                <div class="logo">
                    <div class="logo-icon">G</div>
                    <h1>GynAi</h1>
                </div>
                <nav>
                    <ul>
                        <li><a href="../index.html">Home</a></li>
                        <li><a href="templates/tracker.html">Track</a></li>
                        <li><a href="templates/prediction.html">Predict</a></li>
                        <li><a href="templates/doctors.html">Doctors</a></li>
                        <li><a href="../index.html#community">Community</a></li>
                        <li><a href="templates/login.html" class="dashboard-btn">My Dashboard</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>
</body>
</html>